var config = {
    apiKey: "AIzaSyDkvXXqbFjXuEDqcSc1IuHBSN3xPpEWuq0",
    authDomain: "utcdemopl.firebaseapp.com",
    databaseURL: "https://utcdemopl.firebaseio.com",
    projectId: "utcdemopl",
    storageBucket: "utcdemopl.appspot.com",
    messagingSenderId: "418704834290",
    apiKeyMicrosoft: '43f23859a96b457fb80b798bdc901346'
  };
